body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    
}

.container {
    display: flex;
    flex: 1;
}

.left-side {
    color: red;
    width: 40%;
    height:auto;
    background-image:url('back.png'); background-size:auto;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.right-side {
    width: 60%;
    padding: 20px;
    overflow-y: auto;
    background-color: #f4f4f4;
    
}
.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.input-group textarea {
    resize: none;
}
.send-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.send-button:hover {
    background-color: #45a049;
}

.messages {
    display: flex;
    flex-direction: column;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e1f5fe;
}
